@media only screen and (max-width: 740px) {

 img {

 	float:right;
 }

#wrapper { 

background: pink;
width:100%;
 }
}

@media only screen and (max-width: 570px) {

img { float: none; }

#wrapper { 
	float: right;
	background: blue;
	width:100%;

 }

}

@media only screen (max-width: 480px) {



	#wrapper {
		display: initial;

	 background: red;

	  width:100%;

	}
}