@media only screen and (max-width: 740px) {
body {

	display: inline;
}
#wrapper { background: #f77; }
}

@media only screen and (max-width: 570px) {

#wrapper { background: #7f7; }

}

@media only screen (max-width: 480px) {

	#wrapper { background: #f77f; }
}