html,button,input,select,textarea {
font-family: cabine;

	color:#444;
}

html {

	font-size: 1em;
	line-height: 1.4;
}
body {


	color:#777;
}

#profile {
    float: right;
	border: 1px;
	border-color: #ccc;
	border-radius: 3px;
	background-color: white;
	box-shadow: 2px 4px rgba(0,0,0,2);

}
#wrapper {

	max-width : 900px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto: 


}